{% extends 'polling/base.html' %}
{% block content %}
    <div class="container has-text-centered">
    
        <section class="section is-medium">
            <h1 class="title">Editer la question</h1>
            <form method="POST" class="">{% csrf_token %}

                <fieldset> 
                    {{question}} 
                    {{formset.as_p}}
                </fielset>
                <section class="section">
                <button type="submit">Modifier</button>
                </section>
            </form>

        <button class="button is-link"><a href="{% url 'polling:userGroupsDetail' user_group=group.creator group_name=group.name%}">Retour</a></button>
        </section>
    </div>
{%endblock%}
