{% extends 'polling/base.html' %}
{% block content %}
    <div class="container has-text-centered">
    
        <section class="section is-medium">
            <h1 class="title">Nouvelle question</h1>
            <form method="POST" class="">{% csrf_token %}

                <fieldset>
                    {{question}} 
                    <section class="section">
                    {{formset.as_p}} 
                    </section>
                </fieldset>
                <section class="section">
                <button type="submit">Créer</button>
                </section>
            </form>
            <button class="button is-info"><a href="{% url 'polling:userGroupsDetail' user_group=user.groups.all.0 group_name=group.name%}">Retour</a></button>
        </section>
    </div>


{%endblock%}
