{% extends 'polling/base.html' %}
{% block content %}
    <div class="container has-text-centered">
        
            <section class="section is-medium">

                <h1 class="title">Modifier le sondage</h1>
                <form method="POST" class="">{% csrf_token %}

                    <fieldset>
                        {{GroupForm}} 
                    </fielset>
                    <section class="section">
                    <button type="submit">Modifier</button>
                    </section>
                </form>

                <button class="button is-info"><a href="{% url 'polling:userGroups' user.username  %}">Retour</a></button>
            </section>
    </div>
{%endblock%}
