{% extends 'polling/base.html' %}
{% block content %}
<div class="container has-text-centered">
    <section class="section is-medium">
      <h2 class="title">Connexion au profil</h2>
        <form method="post">
            {% csrf_token %}
            {%for field in form%}
              {{ field.label }}
              {{ field }}
            {%endfor%}
            <section class="section">
            <button type="submit">Se connecter</button>
            </section>
        </form>
        <button class="button is-link"><a href="{%url 'polling:portal'%}">Retour à l'accueil</a></button>
    </section>
</div>
{%endblock%}